#heading {
    color:aquamarine;
    background-color: olive;
}
.Heading {
    color:bisque;
    background-color: blueviolet;
}

body {
    background-color: red;
}

button {
    background-color: brown;
    color: aliceblue;
}


















